<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <div th:replace="elements/header::header">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Lanmap</a>
          </div>
          <div>
            <ul class="nav navbar-nav">
              <li><a href="../nodes" th:href="@{/nodes}">ノード</a></li>
              <li><a href="../users" th:href="@{/users}">ユーザ</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <h2>ログイン</h2>
    <form role="form" method="post" th:action="@{/login}">
      <div class="form-group">
        <label for="name">ユーザ名</label><input type="text"
          class="form-control" id="name" name="name" />
      </div>
      <div class="form-group">
        <label for="password">パスワード</label><input type="password"
          class="form-control" id="password" name="password" />
      </div>
      <button type="submit" class="btn btn-default">ログイン</button>
    </form>
  </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>

