<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
  th:href="@{/css/colorbox/colorbox.css}" />
</head>
<body>
  <div class="container">
    <div th:replace="elements/header::header">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Lanmap</a>
          </div>
          <div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#" th:href="@{/nodes}">ノード</a></li>
              <li><a href="../users" th:href="@{/users}">ユーザ</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <h2>ノード一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th>名前</th>
          <th>種別</th>
          <th>機種名</th>
          <th>IPアドレス</th>
          <th>取得日</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody th:remove="all-but-first">
        <tr th:each="n: ${nodes}">
          <td><a href="edit/1"
            th:href="@{/nodes/edit/{id}(id=${n.id})}"
            th:text="${n.name}">>aventador</a></td>
          <td th:text="${n.nodeType.name}">Desktop</td>
          <td th:text="${n.productName}">自作</td>
          <td th:text="${n.ipaddr}">192.168.24.117</td>
          <td th:text="${n.acquiredStr}">2015年7月</td>
          <td><a class="btn btn-xs btn-primary" href="edit/1"
            th:href="@{/nodes/edit/{id}(id=${n.id})}">編集</a><a
            class="btn btn-xs btn-danger" href="delete/1"
            th:href="@{/nodes/delete/{id}(id=${n.id})}">削除</a></td>
        </tr>
        <tr>
          <td><a href="edit/2">miura</a></td>
          <td>Desktop</td>
          <td>LIVA</td>
          <td>192.168.24.118</td>
          <td>2015年2月</td>
          <td><a class="btn btn-xs btn-danger" href="delete/2">削除</a></td>
        </tr>
      </tbody>
    </table>
    <div class="btn-toolbar">
      <a class="btn btn-primary" href="create"
        th:href="@{/nodes/create}">新規</a> <a class="btn btn-primary"
        href="download" th:href="@{/nodes/download/excel}">ダウンロード</a> <a
        id="uploadBtn" class="btn btn-primary" href="javascript:void(0)">アップロード</a><a
        id="cboxBtn" class="btn btn-primary" href="javascript:void(0)">Colorbox</a><a
        id="dzBtnA" class="btn btn-primary" href="javascript:void(0)">Zone
        A</a><a id="dzBtnB" class="btn btn-primary"
        href="javascript:void(0)">Zone B</a>
    </div>
  </div>
  <div id="uploadModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&#215;</span>
          </button>
          <h3 class="modal-title">アップロードファイル</h3>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data"
            action="upload" th:action="@{/nodes/upload}">
            <div class="form-group">
              <input name="doc" type="file" accept="text/xml" />
            </div>
            <button type="submit" class="btn btn-primary">アップロード</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div style="display: none">
    <div id="cboxModal">
      <h2>Modal dialog with colorbox</h2>
      <p>another way to show modal.</p>
      <form method="post" enctype="multipart/form-data" action="upload"
        th:action="@{/nodes/upload}">
        <div class="form-group">
          <input type="text" placeholder="your name" name="name" />
        </div>
        <div>
          <input type="button" value="Send" />
        </div>
      </form>
    </div>
  </div>

  <div style="display: none">
    <!-- preview template -->
    <div id="dzPreview">
      <div class="dz-preview dz-file-preview">
        <div class="dz-details">
          <div class="dz-filename">
            <span data-dz-name=""></span>
          </div>
          <img data-dz-thumbnail="" />
        </div>
      </div>
    </div>
    <!-- modal template -->
    <!-- プレビューエリアにはdropzone-previews classを付ける -->
    <div id="dzModal">
      <h2>
        Dropzone <span class="dzModalTitle"></span>
      </h2>
      <div class="dropzone-previews"
        style="width: 200px; height: 120px; border: dashed 3px #BBB;
  margin-bottom: 1em;"></div>
    </div>
    <div id="dzModalA"></div>
    <div id="dzModalB"></div>
  </div>

  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script th:src="@{/js/jquery.colorbox-min.js}"></script>
  <script th:src="@{/js/dropzone.js}"></script>
  <script>
			/*<![CDATA[*/

			$(function() {
				$('#uploadBtn').on('click', function() {
					$('#uploadModal').modal();
				});

				$('#cboxBtn').on('click', function() {
					$.colorbox({
						inline : true,
						href : '#cboxModal',
						closeButton : false
					});
				});

				[ 'A', 'B' ].forEach(function(s) {
					$('#dzModal').contents().clone(false).appendTo(
							'#dzModal' + s).find('.dzModalTitle').text(s);
					$('#dzBtn' + s).on('click', function() {
						$.colorbox({
							inline : true,
							href : '#dzModal' + s,
							closeButton : false
						});
					});
				});

				Dropzone.autoDiscover = false;
				var dZones = {};
				[ 'A', 'B' ].forEach(function(s) {
					var previewSelector = '#dzModal' + s
							+ ' .dropzone-previews';
					dZones[s] = new Dropzone('#dzModal' + s, {
						url : "dummy",

						uploadMultiple : false,
						autoProcessQueue : false,

						addRemoveLinks : true,
						dictRemoveFile : '削除',
						previewTemplate : $('#dzPreview').html(),

						previewsContainer : previewSelector,
						clickable : previewSelector,
					});
					dZones[s].on('addedfile', function() {
						$.colorbox.close();
					});
				});
				$('#cboxModal input[type=button]').on('click', function() {
					var $form = $('#cboxModal form');
					var fd = new FormData($form[0]);
					Object.keys(dZones).forEach(function(k) {
						dZones[k].getAcceptedFiles().forEach(function(f) {
							fd.append('doc', f);
						});
						dZones[k].removeAllFiles();
					});
					$.ajax({
						url : $form.attr('action'),
						method : 'post',
						data : fd,
						processData : false,
						contentType : false
					});
				});
			});
			/*]]>*/
		</script>
</body>
</html>
