<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <div th:replace="elements/header::header">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Lanmap</a>
          </div>
          <div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#" th:href="@{/nodes}">ノード</a></li>
              <li><a href="../users" th:href="@{/users}">ユーザ</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <h2>ノード一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th>名前</th>
          <th>種別</th>
          <th>機種名</th>
          <th>IPアドレス</th>
          <th>取得日</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody th:remove="all-but-first">
        <tr th:each="n: ${nodes}">
          <td><a href="edit/1"
            th:href="@{/nodes/edit/{id}(id=${n.id})}"
            th:text="${n.name}">>aventador</a></td>
          <td th:text="${n.nodeType.name}">Desktop</td>
          <td th:text="${n.productName}">自作</td>
          <td th:text="${n.ipaddr}">192.168.24.117</td>
          <td th:text="${n.acquiredStr}">2015年7月</td>
          <td><a class="btn btn-xs btn-primary" href="edit/1"
            th:href="@{/nodes/edit/{id}(id=${n.id})}">編集</a><a
            class="btn btn-xs btn-danger" href="delete/1"
            th:href="@{/nodes/delete/{id}(id=${n.id})}">削除</a></td>
        </tr>
        <tr>
          <td><a href="edit/2">miura</a></td>
          <td>Desktop</td>
          <td>LIVA</td>
          <td>192.168.24.118</td>
          <td>2015年2月</td>
          <td><a class="btn btn-xs btn-danger" href="delete/2">削除</a></td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-primary" href="create" th:href="@{/nodes/create}">新規</a>
    <a class="btn btn-primary" href="download"
      th:href="@{/nodes/download}">ダウンロード</a> <a id="uploadBtn"
      class="btn btn-primary" href="javascript:void(0)">アップロード</a>
  </div>
  <div id="uploadModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&#215;</span>
          </button>
          <h3 class="modal-title">アップロードファイル</h3>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data"
            action="upload" th:action="@{/nodes/upload}">
            <div class="form-group">
              <input name="doc" type="file" accept="text/xml" />
            </div>
            <button type="submit" class="btn btn-primary">アップロード</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
			$(function() {
				$('#uploadBtn').on('click', function() {
					$('#uploadModal').modal();
				});
			});
		</script>
</body>
</html>
